*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(
        135deg,
        #dff9fb,
        #c7ecee,
        #d4fcf7,
        #e8fff9
    );
    min-height:100vh;
    color:#1e293b;
}

header{
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:2.8rem;
    font-weight:700;

    background:linear-gradient(
        90deg,
        #00bcd4,
        #00c896
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

header p{
    color:#475569;
    margin-top:10px;
}

.back-btn{
    display:inline-block;

    margin-top:20px;

    text-decoration:none;

    padding:10px 20px;

    border-radius:10px;

    background:#00bcd4;

    color:white;

    transition:0.3s;
}

.back-btn:hover{
    background:#00a5bb;
}

.container{
    width:90%;
    max-width:1200px;

    margin:auto;

    display:grid;

    gap:25px;

    padding-bottom:50px;
}

.card{

    background:rgba(255,255,255,0.75);

    backdrop-filter:blur(15px);

    border-radius:20px;

    padding:25px;

    box-shadow:
        0 10px 25px rgba(0,0,0,0.08);
}

.card h2{
    margin-bottom:15px;
    color:#00a8cc;
}

.card p,
.card li{
    color:#475569;
    line-height:1.8;
}

.card ul{
    padding-left:20px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

table th{
    background:#00bcd4;
    color:white;
    padding:12px;
}

table td{
    padding:12px;
    text-align:center;
    border:1px solid #dbeafe;
}

pre{
    background:#0f172a;
    color:#f8fafc;

    padding:20px;

    border-radius:12px;

    overflow:auto;
}

input[type="text"]{

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    background:white;

    margin-bottom:15px;

    font-size:1rem;
}

.button-group{

    display:flex;

    gap:10px;

    flex-wrap:wrap;
}

button{

    padding:12px 18px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#00c896;

    color:white;

    font-weight:600;

    transition:0.3s;
}

button:hover{

    transform:translateY(-2px);

    background:#00b383;
}

input[type="range"]{

    width:100%;

    margin-top:10px;
}

#arrayContainer{

    min-height:220px;

    display:flex;

    justify-content:center;

    align-items:flex-end;

    gap:10px;

    flex-wrap:wrap;

    padding:20px;
}

.bar{

    width:55px;

    background:#00bcd4;

    color:white;

    display:flex;

    justify-content:center;

    align-items:flex-end;

    border-radius:8px 8px 0 0;

    font-weight:600;

    transition:0.4s;
}

.comparing{
    background:#ff9800 !important;
}

.swapping{
    background:#ef4444 !important;
}

.sorted{
    background:#22c55e !important;
}

#stepText{

    font-weight:500;

    font-size:1rem;
}

@media(max-width:768px){

    header h1{
        font-size:2rem;
    }

    .button-group{
        flex-direction:column;
    }

    .bar{
        width:40px;
    }

}