*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    min-height:100vh;

    background:linear-gradient(
        135deg,
        #e0f7ff,
        #b9ecff,
        #8bdcff
    );

    color:#003566;

    display:flex;
    flex-direction:column;
}

.hero{
    text-align:center;
    padding:70px 20px;
}

.hero h3{
    color:#0077b6;
    margin-bottom:15px;
    font-size:1.2rem;
}

.hero h1{
    font-size:4rem;
    font-weight:700;
    color:#023e8a;
    margin-bottom:15px;
}

.hero p{
    font-size:1.2rem;
    color:#0a4d68;
}

.container{

    width:90%;
    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

    padding-bottom:50px;
}

.card{

    text-decoration:none;

    background:white;

    border-radius:20px;

    padding:30px;

    text-align:center;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.1);

    transition:0.3s;
}

.card:hover{

    transform:translateY(-8px);

    box-shadow:
    0 15px 35px rgba(0,119,182,0.25);
}

.card h2{

    margin-bottom:15px;

    color:#0077b6;
}

.card p{

    color:#555;
}

footer{

    text-align:center;

    padding:20px;

    margin-top:auto;

    background:rgba(255,255,255,0.4);

    backdrop-filter:blur(10px);

    font-weight:500;
}

/* Mobile Responsive */

@media(max-width:768px){

    .hero h1{
        font-size:2.5rem;
    }

    .hero p{
        font-size:1rem;
    }

    .container{
        width:95%;
    }
}