*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #e6f7ff,
        #d6f0ff,
        #bde7ff
    );
}

/* HERO */

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero-content{
    max-width:800px;
    margin:auto;
}

.hero h3{
    color:#0284c7;
    font-size:1.2rem;
    margin-bottom:15px;
}

.hero h1{
    font-size:4rem;
    color:#0369a1;
    margin-bottom:15px;
}

.hero p{
    font-size:1.15rem;
    color:#475569;
    line-height:1.8;
}

/* CARDS */

.container{
    max-width:1200px;
    margin:auto;
    padding:20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.card{
    background:white;
    text-decoration:none;
    padding:35px 25px;
    border-radius:25px;
    text-align:center;
    transition:0.4s;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(2,132,199,0.25);
}

.icon{
    font-size:3rem;
    margin-bottom:15px;
}

.card h2{
    color:#0284c7;
    margin-bottom:10px;
}

.card p{
    color:#64748b;
    line-height:1.6;
}

/* FOOTER */

footer{
    text-align:center;
    margin-top:70px;
    padding:25px;
    color:#334155;
    font-weight:500;
}

/* MOBILE */

@media(max-width:768px){

    .hero h1{
        font-size:2.7rem;
    }

    .hero p{
        font-size:1rem;
    }

}